body{
  font-family: 'Montserrat', sans-serif;
  background-color: #e43611;
}
label {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

h1{
  font-size: 25px;
  padding-right: 10px;
  margin: 0px;
}

.header{
  text-align: center;
}

p{
  margin: 0px;
}

#ui-id-21{
  background-color: green;
}

h2{
  font-size: 50px;
  display: inline;
  color: white;
}


#pokeball1{
  width: 5%;
  display: inline;
  float: left;
  margin-left: 100px;
}

#pokeball2{
  width: 5%;
  float: right;
  display: inline;
  margin-right: 100px;
}


.select-container {
  margin: 45px;
}

#attackDisplay2{
  display: none;
}


#button{
  width: 100px;
  height: 50px;
}

#typeDisplays{
  display: flex;
  text-align: center;
}



.typeBoxContainer{
  background-color: white;
  margin: 10px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  max-width: 435px;
  border-radius: 5px;
}

.typeBoxContainer > p{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}



.typeBox{
  color: white;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  width: 100px;
  height: 15px;
}
