body{
  font-family: 'Montserrat', sans-serif;
  background-color: #white;
  margin: 0px;
  padding: 0px;
}
label {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

h1{
  font-size: 25px;
  text-align: center;
  color: white;
  padding-right: 10px;
}

.header{
  text-align: center;
  background-color: #272727;
  padding-top: 5px;
  padding-bottom: 5px;
}

p{
  margin: 0px;
}

#ui-id-21{
  background-color: green;
}

h2{
  font-size: 50px;
  display: inline;
  color: white;
}


#pokeball1{
  width: 65px;
  display: inline;
  float: left;
  margin-left: 100px;
}

#pokeball2{
  width: 65px;
  float: right;
  display: inline;
  margin-right: 100px;
}


.select-container {
  margin: 45px;
}

#attackDisplay2{
  display: none;
}


#button{
  /* font-size: 30px; */
}

#typeDisplays{
  display: flex;
  text-align: center;
}



.typeBoxContainer{
  background-color: white;
  margin: 10px;
  background-color: #747474;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  border-radius: 5px;
}

.typeBoxContainer > p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}



.typeBox{
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  width: 100px;
  height: 15px;
}

.detail{
  display: inline-block;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  background-color: #e2e2e2;
  /* j */
}

.detail-number{
  display: inline-block;
  border-radius: 3px;
  font-weight: bold;
  padding: 5px;
  background-color: white;
}

#detail{
  font-size: 21px;
}

.basicContainer{
  background-color: #747474;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px;
  width: 435px;
  border-radius: 5px;
}

.basicSubContainer{
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  background-color: #747474;
}

.dualTypesDetail{
  border-radius: 3px;
  margin: 5px;
  display: flex;
  border: dashed;
  justify-content: center;
  align-self: flex-start;
  border-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 5px;
  background-color: #747474;
}

.row{
  /* margin: 10px; */
}

/* methodology page */

.paragraph{
  margin: 50px;
  font-size: 20px;
}

.equation{
  font-size: 50px;
  font-style: italic;
  padding: 15px;
  border-radius: 3px;
  display: inline-block;
  background-color: #EBECF0;
  font-weight: bold;
}

/* jjjjj */
