body{

  font-family: Arial, Helvetica, sans-serif;
  background-color: #e43611;
}
label {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#pokeball{
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.select-container {
  margin: 50px;
  /* display: flex; */
}

#attackDisplay2{
  display: none;
}

#typeDisplays{
  display: flex;
  text-align: center;
}

.typeBoxContainer{
  background-color: white;
  margin: 10px;
  display: none;
  max-width: 400px;
  border-radius: 10px;
  padding: 5px;
}

.typeBoxContainer > p{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.typeBox{
  color: white;
  border-radius: 10px;
  font-size: 10px;
  text-align: center;
  /* font-weight: bold; */
  margin: 10px;
  padding: 5px;
  width: 75px;
  height: 10px;
}
